.spreadsheet {
  border-spacing: 0;
  padding: 0;
}
.spreadsheet .col:first-child {
  width: 20px;
  border-right: 1px solid #c0c0c0;
}
.spreadsheet .col {
  width: 80px;
  height: 15px;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  background-color: #a0a0a0;
}

.spreadsheet .row-header {
  width: 15px;
  height: 15px;
  border: 1px solid #c0c0c0;
  background-color: #a0a0a0;
}

.spreadsheet .cell:first-child {
  border-right: 1px solid #c0c0c0;
}
.spreadsheet .cell {
  width: 20px;
  height: 15px;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  position: relative;
}

.spreadsheet .row .cell:last-child {
  border-right: 1px solid #c0c0c0;
}

.spreadsheet .row:last-child .cell {
  border-bottom: 1px solid #c0c0c0;
}

.spreadsheet .cell-text {
  width: 82px;
  height: 23px;
  border: none;
  resize: none;
  overflow: hidden;
  padding-top: 0;
  padding-left: 2px;
  margin: 0;
  display: block;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.spreadsheet tr:last-child .cell-text {
  height: 22px;
}

.spreadsheet tr td:last-child .cell-text {
  width: 81px;
}

.spreadsheet .cell-text:focus {
  border: none;
}

.spreadsheet .cell-cover {
  width: 80px;
  height: 23px;
  margin: 0;
  padding-top: 0;
  padding-left: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  word-wrap: break-word;
  background-color: #ffffff;
}

.spreadsheet tr:last-child .cell-cover {
  height: 22px;
}

.spreadsheet tr td:last-child .cell-cover {
  width: 79px;
}
